---
// Import statements
// Import the Image component from @astrojs/image
import { Image, Picture } from 'astro:assets';
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"


import next from "../images/svg/next-js-just-n.svg"
import react from "../images/svg/react-2.svg"
import mdx from "../images/svg/mdx.svg"
import vercelT from "../images/svg/vercelT.svg"
import tailwind from "../images/svg/tailwind-css-2.svg"
import cloudflare from "../images/svg/cloudflare.svg"
import vercel from "../images/svg/vercel.svg"
import netlify from "../images/svg/netlify.svg"

import home5 from "../images/home/5.jpg"
import home6 from "../images/home/6.jpg"
import home7 from "../images/home/7.jpg"
import home4 from "../images/home/4.jpg"
import home1 from "../images/home/1.jpg"
import home2 from "../images/home/2.jpg"

const width = 250;
const heightLarge = (width * 3) / 2;
const heightSmall = (width * 2) / 3;


---

<Header />
<main class="gridjustify-center py-4 w-[750px] mx-auto max-w-[90%]">
    <div class="text-left ml-0"> 
      <h1 class="text-xl font-medium pb-4 ">Hi I'm Suresh 🔥</h1>


<the-fold></the-fold>

      <p class="my-4 text-base  ">In my spare time I'm a hobby developer and amateur self-taught coder. In my day job I'm a Doctor, and I also run a successful Podcast and YouTube channel.</p>
      
      <p class="my-4 text-base">I'm currently developing my skills with <code class="bg-gray-200 border border-gray-400 font-mono text-sm p-1 rounded inline-flex items-center"><Image src={next} width="14" height="14" alt="SVG Icon" class="inline-block mr-1 mb-0.5" />Next.js</code>, <code class="bg-gray-200 border-gray-400 border font-mono text-sm p-1 rounded inline-flex items-center"><Image src={react} width="14" height="14" alt="SVG Icon" class="inline-block mr-1 mb-1" />React</code> and <code class="bg-gray-200 border-gray-400 border  font-mono text-sm p-1 rounded inline-flex items-center"><Image src={mdx} width="14" height="14" alt="SVG Icon" class="inline-block mr-1 mb-0.5" />MDX</code>.</p>
      <p class="my-4 text-base">My passion is to create beautiful sites that have <b>optimal UI/UX</b> and that's why I decided to learn to code for myself. I was tired of boring, hard to use or complicated website templates that clearly weren't meant for beginners.</p>
      <p class="my-4 text-base">You will notice that this site is inspired by <a target="_blank" href="https://leerob.io">Lee Robinson</a> from <code class="bg-gray-200 border-gray-400 border text-sm p-1 rounded inline-flex items-center font-mono"><Image src={vercelT} width="14" height="14" alt="SVG Icon" class="inline-block mr-1 mb-0.5" />Vercel</code>, but I have built this site from the ground up by myself. I haven't even taken a sneak peak at this code. I did this so I can learn for myself. </p>
      <p class="my-4 text-base">The site is built with <code class="bg-gray-200 border border-gray-400 font-mono text-sm p-1 rounded inline-flex items-center"><Image src={next} width="14" height="14" alt="SVG Icon" class="inline-block mr-1 mb-0.5" />Next.js</code> and is currently hosted through <code class="bg-gray-200 border-gray-400 border text-sm p-1 rounded inline-flex items-center font-mono"><Image src={vercelT} width="14" height="14" alt="SVG Icon" class="inline-block mr-1 mb-0.5" />Vercel</code> though that may change in the future.</p> 
      <p class="my-4 text-base">It is currently styled through <code class="bg-gray-200 border border-gray-400 font-mono text-sm p-1 rounded inline-flex items-center"><Image src={tailwind} width="14" height="14" alt="SVG Icon" class="inline-block mr-1 mb-0.5" />Tailwind CSS</code>, uses the Vercel CDN and utilises <code class="bg-gray-200 border-gray-400 border font-mono text-sm p-1 rounded inline-flex items-center">Next/Image</code> for image optomisation.</p>
      <p class="my-4 text-base"><a class='font-bold underline hover:text-blue-600' href="/posts/making-this-website-and-my-plans-for-it">You can read more about the plans for this website here</a>.</p>


      
      
        </div>

        <div class="grid grid-cols-2 auto-rows-[125px] gap-1 max-w-[700px] mx-auto md:grid-cols-3">
          <div class=" row-span-2 rounded-lg overflow-hidden bg-gray-200 transition-transform ease-out duration-300 hover:scale-105">
            <picture><Picture formats={['avif', 'webp']} class="w-full h-full object-cover" src={home5} alt="5" width={width} height={heightLarge}/></picture>
          </div>

          <div class="row-span-1 rounded-lg overflow-hidden bg-gray-200 transition-transform ease-out duration-300 hover:scale-105">
            <Picture formats={['avif', 'webp']} class="w-full h-full object-cover" src={home6} alt="6" width={width} height={heightSmall}/>
          </div>

          <div class=" row-span-2 rounded-lg overflow-hidden bg-gray-200 transition-transform ease-out duration-300 hover:scale-105">
              <Picture formats={['avif', 'webp']} class="w-full h-full object-cover" src={home4} alt="3" width={width} height={heightLarge}/>
            </div>

            <div class="row-span-1  sm:row-span-1 md:row-span-2 rounded-lg overflow-hidden bg-gray-200 transition-transform duration-300 ease-out hover:scale-105">
              <Picture formats={['avif', 'webp']} class="w-full h-full object-cover" src={home1} alt="1" width={width} height={heightLarge}/>
            </div>

            <div class="row-span-1 rounded-lg overflow-hidden bg-gray-200 transition-transform ease-out duration-300 hover:scale-105">
              <Picture formats={['avif', 'webp']} class="w-full h-full object-cover" src={home2} alt="5" width={width} height={heightSmall}/>
            </div>
            
            <div class="row-span-1 rounded-lg overflow-hidden bg-gray-200 transition-transform ease-out duration-300 hover:scale-105">
              <Picture formats={['avif', 'webp']} class="w-full h-full object-cover" src={home7} alt="7" width={width} height={heightSmall}/>
            </div>

        </div>


      
        <p class="my-4 text-base">I create web apps, website templates, landing pages and progressive web apps. My goal is to offer as much as possible for free but the fully fledged templates can be purchased and modified for your own use (not for resale).</p>
     
        

        <h2 class="text-xl font-bold mb-4">Easily Deploy</h2>

        <div class="flex justify-center items-center flex-wrap">
  <div class="m-4 p-2 border border-gray-200 rounded-lg shadow transition duration-300 ease-in-out transform hover:scale-105">
    <Image src={vercel} alt="vercel" width="100" height="50"/>
  </div>
  <div class="m-4 p-2 border border-gray-200 rounded-lg shadow transition duration-300 ease-in-out transform hover:scale-105">
    <Image src={cloudflare} alt="cloudflare" width="100" height="50"/>
  </div>
  <div class="m-4 p-2 border border-gray-200 rounded-lg shadow transition duration-300 ease-in-out transform hover:scale-105">
    <Image src={netlify} alt="netlify" width="100" height="50"/>
  </div>


<p class="text-base my-4">
    Discover effortless deployment with my web apps and templates, meticulously crafted for seamless integration with leading hosting platforms. Designed for those who value simplicity and elegance, my collection caters to your need for visually appealing websites and web apps without the complexity. Say goodbye to convoluted code and excessive dependencies.
</p>
<p class="text-base my-4">
    My templates are a breath of fresh air: uncomplicated, streamlined, and highly modifiable. Whether you're starting from scratch or building upon a sturdy foundation, you'll find what you need in my diverse range. From complimentary offerings to premium purchases, there's something for every project.
</p>
<p class="text-base my-4">
    Experience the ease of deployment and the joy of clean, efficient design with my specially curated templates.
</p>
<h3 class="text-lg font-semibold my-5">
    Check out the latest from my blog
</h3>

</main>
  <Footer />
